/*
  ***
  ****
  *****                      Creating a font style for the page'
  ******                     ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
  ****
  ***
*/

@font-face {
    font-family: "PoppinsBold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
  }

  /*
  @font-face {
    font-family: "PoppinsRegular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
  }
  
  @font-face {
    font-family: "PoppinsThin";
    src: url("../fonts/Poppins/Poppins-Thin.ttf");
  }*/
  
  @font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto/Roboto-Light.ttf");
  }

  /*
  @font-face {
    font-family: "roboto-Regular";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
  }*/
  
  @font-face {
    font-family: "roboto-Medium";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
  }

  /*
  @font-face {
    font-family: "roboto-Bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-family: "bigNoodleTitling";
    src: url("../fonts/bigNoodleTitling.ttf");
  }*/

  /*$fontRegular: "PoppinsRegular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  $fontBold: "PoppinsBold", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  $fontlight: "roboto-light", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  $fontMedium: "roboto-Medium", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  $white: #fff;
  $black: #2d2d2d;
  $gray: #696969;
  $blue: #5c6ac4;
  $lightBlue: #e9ebf4;
  
  
  /*
  **
  ****
  *****
  *******                   Starting Styling in The CSS File '../css/style.css'
  *****                     ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
  ****
  **
  */
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    overflow-wrap: break-word;    
  }
  
  *::selection,
  *::-moz-selection {
    background-color: #4a4a4a;
    color: $white;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $blue; 
  }

.gooey {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  filter: contrast(20);
  z-index: 99999;

  .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    filter: blur(4px);
    background: #2e2992;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* margin-top: 12px; */
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
    position: absolute;
    /* width: 16px; */
    height: 16px;
    top: 50%;
    left: 50%;

    span {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin-left: 16px;
      filter: blur(4px);
      background: #2e2992;
      border-radius: 50%;
      }
    }
  }


@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

  img {
    display: block;
    width: 100%;
    height: auto;
    position: static !important;
    overflow: hidden;
    object-fit: contain;
  }

  h3{
    font-family: $fontBold;
    color: $black;
    font-size: 28px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 100;
    color: #2d2d2d;
    padding-bottom: 40px;
    max-width: 75%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  .gatsby-image-wrapper {
    width: 100% !important;
  }
  .gatsby-image-wrapper picture img{
  
    min-height: 15rem;
    max-height: 15rem;
    background: #fff center center no-repeat;
    background-size: cover;
  }
  
  .mainsection {
    /*height: calc(100vh - 243px);*/
    content: '';
    display: block;
    clear: both;
  }
  
  #footer {
    text-align: center;
  }
  
  .post-single ,
  .page-single{
    margin-top: 6.2em;
  }
  
  a {
    text-decoration: none;
    outline: none;
    color: $blue;
  }
  
  body {
    font-family: $fontlight;
    margin: 0;
    background: $white;
    /*opacity: 0;*/
    -webkit-transition: opacity 3s ease;
    transition: opacity 3s ease;
  }
  
  .loaded {
    opacity: 1;
  }
  
  .contain {
    width: 85%;
    margin: 30px auto;
    height: 100%;
    display: block;
  }
  
  .clear {
    content: '';
    display: table;
    clear: both;
  }
  
  .active-links {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #141414;
    transition: all ease 0.3s;
    color: $white !important;
  }
  
  .greyBack {
    background-color: #F9F9F9;
    overflow: hidden;
    padding: 7em 0;
  }
  
  /*
  ***
  ****
  *****                      Start stiyling the header section // Set a Image for the header
  ******                     ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
  ****
  ***
  */
  
  .btn {
    padding: 20px;
    font-family: $fontMedium;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    background-color: $lightBlue;
    color: $blue;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    width: 30%;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    transition: all ease-in-out .3s;
    &:hover {
        -webkit-box-shadow: 0 10px 20px -5px #ccc;
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        color: $white;
        background-color: $blue;   
    }
  }
  
  .liststyle {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .logo.design {
    display: inline-block;
    vertical-align: middle;  
  }
  
  .standard {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: right;           
  }
  
  .standard {
    ul {
        li {
            display: inline-block;
            list-style-type: none;
        }
    }
  }
  
  .standard {
    ul {
        li {
            a {
                position: relative;
                font-family: $fontBold;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                color: $black;
                padding: 12px 20px;
            }
        }
    }
  }
  
  .standard {
    ul {
        .underMore {
            a {
                font-family: $fontlight;
                font-weight: 100 !important;
                color: $blue;
                text-transform: capitalize !important;
            }
        }
    }
  }
  
  .navbar-change {
    z-index: 9999;
    position: absolute;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s
  }
  
  .logo {
    a {
        font-family: $fontlight;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        letter-spacing: 0px;
        line-height: 20px;
        display: block;
    }
  }
  
  .logo {
    opacity: 1;
    transition: 1s;
  }
  
  .logo{
    &:hover {
        opacity: .3;
    }
  }
  
  .logo {
    span {
        display: block;
        font-family: $fontBold;  
    }
  }
  
  .link-1::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    background-color: $blue;
    transition: all ease 0.3s;
  }
  
  .link-1 {
    &:hover {
        color: $white !important;
    }
  }
  
  .link-1 {
    &:hover::after {
        height: 100%;
    }
  }
  
  // Styling the main sqection Body
  
  #showcase {
    background-image: url("../images/mainImageHeader.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  
  #showcase {
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #F9F9F9;
        top: 0;
        right: 47%;
        transform: rotate(17deg);
        border-radius: 36%;
        z-index: 0;
    }
  }
  
  .content-header {
    display: table;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 999;
  }
  
  
  .title-content {
    font-family: $fontBold;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 900;
    color: $black;
    margin-bottom: 40px;
  }
  
  .title-content {
    &::after {
        content: '';
        display: block;
        width: 10%;
        height: 6px;
        background-color: $blue;
        margin-top: 20px;
        border-radius: 3px;
    }
  }
  
  .content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 40px;
  }
  
  .body-content {
    font-family: $fontlight;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 100;
    color: $gray;
    margin-bottom: 40px;
  }
  
  .btn-download {
    margin-bottom: 40px;
  }
  
  .scrollArrow {
    position: absolute;
    bottom: 30px;
    width: 25px;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .scrollArrow .iconArrow {
    display: block;
    background-image: url("../images/BottomArrow.png");
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;
  }
  
  
  /*
    Section about me style *****
  */
  
  
  /* Card list here */
  /* Lazy Load Styles */
  
  .card-image {
    display: block;
    /*min-height: 15rem;*/
    max-height: 15rem;
    /* layout hack */
    background: $white center center no-repeat;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    &:hover { opacity: .9; }
  
  }
    
  .card-image {
    &> img  {
        display: block;
        width: 100%;
        opacity: 0;
        /* visually hide the img element */
    }
  }
  
  .card-image {
    .is-loaded {
        -webkit-filter: none;
        filter: none;
        /* remove the blur on fullres image */
        -webkit-transition: -webkit-filter 1s;
        transition: -webkit-filter 1s;
        transition: filter 1s;
        transition: filter 1s, -webkit-filter 1s;
    }
  }
  
  /* Layout Styles */
  .card-list {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    list-style: none;
    li {
        border-radius: 4px;
        border: 2px solid #e9ebf4;
        background-color: #fff;
    }    
  }
  
  .card {
    display: inline-block;
    width: 40%;
    /*max-width: 11rem;*/
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    padding: 40px; 
    background-image: none; 
    z-index: 9;  
    /*  -webkit-box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
        box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);*/
    -webkit-transition: all 0.1s ease-in-out, -webkit-box-shadow 0.1s;
    transition: all 0.1s ease-in-out, -webkit-box-shadow 0.1s;
    &:hover {
        -webkit-box-shadow: 0 10px 20px -5px #ccc;
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  
        .card-description {
            > p , > h2{
                color: $white;
            }
        }   
  
    }    
  }
  
  .card-description {
    display: block;
    color: $gray;
    text-decoration: none;
    &> h2 {
        font-family: $fontBold;
        letter-spacing: 1px;
        line-height: 30px;
        font-size: 18px;
        font-weight: 600;
        color: $black;
    }
    &> p {
        margin: 0;
        font-family: $fontlight;
        font-size: 14px;
        cursor: default;
        line-height: 25px;
        font-weight: 100;    
        color: $gray;
    }    
  }
  
  
  .card:nth-child(1):hover {
    background-image: -webkit-linear-gradient(330deg,rgba(87,82,208,.6) 0%,#5752d0);
    background-image: -o-linear-gradient(330deg,rgba(87,82,208,.6) 0%,#5752d0);
    background-image: linear-gradient(120deg,rgba(87,82,208,.6) 0%,#5752d0);
    -webkit-box-shadow: 0 10px 19px 1px rgba(87,82,208,.2);
    box-shadow: 0 10px 19px 1px rgba(87,82,208,.2);  
  } 
  
  .card:nth-child(2):hover {
    background-image: linear-gradient(120deg,rgba(222,54,24,.6) 0%,#de3618);
    box-shadow: 0 10px 19px 1px rgba(222,54,24,.2); 
  } 
  
  .card:nth-child(3):hover {
  background-image: linear-gradient(120deg,rgba(156,106,222,.6) 0%,#9c6ade);
  box-shadow: 0 10px 19px 1px rgba(156,106,222,.2); 
  }
  
  .card:nth-child(4):hover {
  background-image: linear-gradient(120deg,rgba(71,193,191,.6) 0%,#47c1bf);
  box-shadow: 0 10px 19px 1px rgba(71,193,191,.2);
  }
  
  .SectionAboutme , .SectionBlog {
    position: relative;
    .leftAboutme , .rightAboutme , 
    .leftBlog , .rightBlog{
        float: left;
        width: 50%;        
    }
  }
  
  .SectionAboutme {
    position: relative;
    .card-image {
        min-height: 5rem;
        max-height: 5rem;
        background: transparent left center no-repeat;
    }
  }
  
  .rightAboutme , .leftBlog, .portfolioSection {
    h2 {
        font-family: $fontBold,arial,sans-serif;
        font-size: 40px;
        margin-bottom: 40px;
        color: $black;
        &::after {
            content: '';
            display: block;
            width: 10%;
            height: 6px;
            background-color: $blue;
            margin-top: 20px;
            border-radius: 3px;
        }        
    }
  }
  
  .rightAboutme {
    .bodytextAbout {
        font-family: $fontlight;
        font-size: 18px;
        line-height: 30px;
        font-weight: 100;
        color: $gray;
        p {
            margin-bottom: 30px;
        }
        a {
            font-weight: 600;
            padding: 5px;
            margin-right: 10px;
          i {
            font-size: 24px;
          }         
        }
    }
  }
  
  
  
  .SectionBlog {
  overflow: hidden;
  padding: 7em 0;
  .rightBlog {
    width: 50%;
    .card {
        padding: 0;
        width: 45%;
        &:hover {
            background-image: none !important;
        }        
    }
    .card-description {
        padding: 20px;
        /*min-height: 8em;*/
        &> h2 {
            line-height: 30px;
        } 
    }
  }
  }
  
  .leftBlog {
    p {
        font-family: $fontlight;
        font-size: 18px;
        max-width: 28rem;  
        margin-bottom: 40px;
        line-height: 30px;
        font-weight: 100;
        color: $gray;  
    }
  }
  
  .rightBlog {
    .card {
        &:hover {
            .card-description {
                &> p , > h2{
                    color: $black;
                }
            }
        }
    }
  }
  
  .SectionSkills {
    padding: 15em 0 8em;
    .titleSkills {
        display: inline-block;
        width: 40%;
    }
  }
  
  .skills {
    .row {
        width: 100%;
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        flex-direction: row;
        align-items: unset;
        justify-content: center;
        overflow: hidden;
        .skill-item {
            margin: 0px 40px;
            display: inline-block;
        }
    }
  }
  
  .SectionSkills {
    .skill-item {
        .item-icon {
            margin: 0 auto;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: .7;
            -webkit-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
            cursor: pointer;
            width: 100px;
            height: 100px !important;  
        }
    }
  }
  
  .SectionSkills {
    .skill-item {
        &:hover {
            .item-icon {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
  }

  .blogsPages {
      .leftBlog , .rightBlog{
        float: none;
        width: 100%;
        position: relative;
      }    
  }

.blogsPages {
    .rightBlog {
        .card {
            width: 47%;
        }
    } 
}

.post-single {
  .post-header {
    h2 {
      font-family: $fontBold;
      font-size: 50px;
      line-height: 65px;
      text-transform: capitalize;
      font-weight: 100;
      max-width: 80%;
      color: $black;    
      padding-bottom: 10px;
    }
    .post-meta {
      color: #5c6ac4;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}

.post-single {
  .post-thumbnail {
    .gatsby-image-wrapper {
      picture {
        img {
          max-height: 40em;
        }
      }
    }
  }
}
 picture img{
  
  min-height: 15rem;
  max-height: 15rem;
  background: #fff center center no-repeat;
  background-size: cover;
}

.post-single {
  .post-content {
    p {
      font-family: $fontlight;
      font-size: 18px;
      line-height: 30px;
      color: $black;
    }
  }
}

.contentContain {
  width: 45%;
  margin: 0 auto;
  padding-top: 40px;
}

.contentContain {
  p {
    padding-bottom: 40px;
  }
}

.blogsPages {
  .contain {
    width: 60%;
  }
}

  
.blogsPages {
  .leftBlog {
    max-width: 38rem;
    margin: 10em 0;    
    p {
        font-family: $fontlight;
        font-size: 18px;
        margin-bottom: 40px;
        max-width: none;
        line-height: 30px;
        font-weight: 100;
        color: $gray;  
    }
  }
}

.gobackBtn {
  margin-bottom: 40px;
  a {
    width: 50%;
  }
}

.blogsPages {
  .rightBlog {
    .card-image {
      max-height: 20rem;
    }
  }
}

.blogsPages {
  .rightBlog {
    .gatsby-image-wrapper {
      picture {
        img {
          max-height: 20rem;
        }
      }
    }
  }
}

.blogsPages .gatsby-image-wrapper > img ,
.homemain .gatsby-image-wrapper img{
  position: absolute !important;
}

.outerDotsBox {
  position: absolute;
  left: 5%;
  top: 9%;
}

.outerDotsBox.banner {
  right: 7%;
  left: auto;
  top: 0;
}

.outerDotsBox.blogs {
  right: -2%;
  left: auto;
  top: -12%;
}

.outerDotsBox.aboutIcon {
  left: 26%;
  bottom: 11%;
  top: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.outerDotsBox.aboutIcon svg{
  width: 500px;
}

#footer {
  span {
    font-family: $fontlight;
    font-size: 14px;
    letter-spacing: 1px;
  }
  footer {
    background-color: #F9F9F9;
    overflow: hidden;
    padding: 5em 0;
  }
}


.portfolioSection {
  padding: 5em 0;
  .row {
    display: flex;
    justify-content: center;
    .column {
      padding: 0 .9em;
      display: inline-block;
      position: relative;
      .card {
        border-radius: 4px;
        padding: 2em;
        min-height: 10em;
        background-color: #f5f4f8;
        width: auto;
        margin: 0;        
        margin-bottom: 2em;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        svg {
          width: 25px;
          height: auto;
        }  
        h4 {
          font-family: $fontBold;
          letter-spacing: 1px;
          line-height: 30px;
          font-size: 18px; 
          padding: 10px 0;        
        } 
        p {
          font-family: $fontlight;
          font-size: 14px;
          cursor: default;
          line-height: 25px;
          font-weight: 100;          
        }  
        &:hover {
          background-image: none;
        }
        a {
          color: $black;
          display: block;
        }      
    }
  }    
  }
}

.Title {
  height: 90px;
  overflow: hidden;
}
.TitleText {
  height: 34px;
  overflow: hidden;  
}

  @media screen and (max-width: 1500px) {
    .btn-download a{
        width: 30%;
    }
    .btn {
      width: 45%;
    }
    .rightBlog .card {
      width: 45%;
    }  
    .card-description > h2 {
        line-height: 25px;
        margin-bottom: 20px;
    }
    .card {
        width: 85%;
    }
    .SectionBlog .rightBlog .card {
        width: 47%;
    }    
    .skills .row {
        display: block;
        text-align: center;
    }
    .skills .row .skill-item {
        margin: 40px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .btn {
        width: 25%;
    }       
    .navbar-change {
        position: static;
    }
    #showcase::after {
      position: static;
    }  
    .content-header {
      position: relative;
    }  
    .content {
        top: 5em;
        display: block;
    }
    .SectionAboutme .leftAboutme, .SectionAboutme .rightAboutme ,
    .SectionBlog .leftBlog  {
      width: 100%;
    }  
    .card {
      width: 46%;
    }  /*
    .contain {
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
    }*/
    .leftAboutme {order: 2;}
    .rightAboutme {
      order: 1;
      margin-bottom: 40px !important;
    }
    .SectionBlog .rightBlog .card {
      width: 47%;
    }  
    .SectionAboutme .leftAboutme, .SectionAboutme .rightAboutme, .SectionBlog .leftBlog {
        margin-bottom: 40px;
    }    
    .SectionBlog .rightBlog {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 1024px) {
  /*
    .card {
      width: auto;
    }*/
    .SectionAboutme .leftAboutme, .SectionAboutme .rightAboutme {
      width: 45%;
      margin: 0 20px;    
    } 
    .btn ,
    .btn-download a{
      width: 50%;
    }   
    .SectionBlog .leftBlog, .SectionBlog .rightBlog {
      float: none;
    }  
    .SectionBlog .leftBlog {
      margin-bottom: 40px;
    }/*
    .SectionBlog .rightBlog .card {
      width: 31.49%;
    }  */
    .SectionBlog .rightBlog {
      width: 100%;
    }  
    #showcase::after {
      top: 45%;
      right: 47%;    
    }  
  
    #showcase {
      background-image: none;
    }  
    .SectionAboutme .leftAboutme, .SectionAboutme .rightAboutme {
        width: 100%;
    }  
    .SectionBlog .leftBlog,
    .rightBlog .card,
    .card{
      margin-bottom: 40px !important;
    } 
    .SectionSkills {
        padding: 10em;
    }     
    #showcase {
        height: auto;
        margin: 10em 0 8em;        
    }    
    .content-header , .content{
        position: static;
    }
    .SectionBlog .rightBlog .card {
      width: 100%;
    }    
    .contentContain {
      width: 60%;
    }
    .gobackBtn {
      a {
        width: 100%;
      }
    }  
    .rightBlog .card-image{
      max-height: 20rem;
    }
    
    .rightBlog .gatsby-image-wrapper picture img{
      max-height: 20rem;
    }      

    .outerDotsBox {
      top: 6%;
    }

    .outerDotsBox.banner {
      right: 2%;
      top: 18%;      
    }

    .outerDotsBox.blogs {
      right: -15%;
      top: -2%;      
    }
    .SectionSkills {
      padding: 8em 0 1em;
  }    

  }
  
  @media screen and (max-width: 768px) {
    .blogsPages .contain {
      width: 85%;
    }    
    .contentContain {
      width: 85%;
    }  
    .post-single .post-header h2{
      font-size: 35px;
      line-height: 55px;
      max-width: 100%;
    }  

    h3 {
      max-width: 100%;
      font-size: 25px;
      line-height: 45px;      
    }
    .outerDotsBox.blogs {
      right: -11%;
    }  
    .portfolioSection .row ,
    .portfolioSection .row .column .card{
      display: block;
      width: 100%;
    }  
    .portfolioSection .row .column {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
    .Title {
      font-size: 70px;
    }
  }
  
  @media screen and (max-width: 625px) {
    .title-content {
      font-size: 50px;
      line-height: 60px;    
    }
    .body-content {
      font-size: 17px;
      line-height: 25px;    
    }  
    .rightAboutme h2, .leftBlog h2 {
      font-size: 35px;
    }  
    .rightAboutme .bodytextAbout {
      font-size: 16px;
    } 
    .SectionAboutme .leftAboutme, .SectionAboutme .rightAboutme, .SectionBlog .leftBlog ,
    .card,
    .SectionBlog .rightBlog .card{
      width: auto;
      margin: 0;
    }    
    .post-single .post-header h2 {
      max-width: 100%;
    }    
    .Title {
      height: 70px;
      font-size: 55px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .standard {
        vertical-align: top;
        width: 79%;
    }      
    .standard ul li {
        display: block;
    }
    .btn, .btn-download a {
      width: 65%;
    }   
    .outerDotsBox {
      top: 1%;
    }  
    .outerDotsBox.banner {
      right: 4%;
      top: 20%;
    }    
    .outerDotsBox.blogs {
      right: -7%;
      top: -1%;      
    }  
    .Title {
      height: 55px;
      font-size: 35px;
    }   
    .TitleText {
      height: 51px;
      overflow: hidden;
      font-size: 16px;
    }      
  }